<h1>Listing receipts</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Store</th>
  </tr>

<% @receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.date.to_date %></td>
    <td><%= link_to receipt.store, receipt %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Receipt', new_receipt_path %>
