<%- model_class = Receipt -%>
  <h1><%= @receipt.store %></h1>
  <h2><%= @receipt.date.to_date %></h2>

<div class="well">
  <%= render :partial => 'shared/list', :local => {:items => @receipt.items } %>
</div>
